<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/dist/css/styles.css">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <button class="button__geolocation">
            <img src="/img/geolocation.svg" alt="geolocation button" />
        </button>

        <div class="weather-widget loading">
            <p id="message"></p>
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="weather-widget__content">
                <p class="weather-widget__location"></p>
                <div class="weather-widget__forecast">
                    <div class="weather-widget__icon"><img src="" alt="forecast icon"></div>
                    <div>
                        <div>
                            <p class="weather-widget__temp"><span></span>°C</p>
                            <p class="weather-widget__description"></p>
                        </div>
                        <div>
                            <p class="weather-widget__tmin">min: <span></span>°C</p>
                            <p class="weather-widget__tmax">max: <span></span>°C</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

    <script src="/dist/js/bundle.js"></script>
</body>

</html>