* {
    box-sizing: border-box;
}

body {
    --black: #585c63;
    --grey: #888888;
    --transition : all 0.3s ease;
    color: var(--black);
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background: linear-gradient(45deg, #dbd1d9 15%, #dadae4 50%, #dae5eb);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: var(--grey);
    margin-right: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

header a:hover {
    color: var(--black);
}

.portrait {
    width: 250px;
}

form {
    max-width: 380px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: white;
    padding: 8px;
    transition: var(--transition);
}

button:hover {
    background-color: white;
    color: var(--black);
}

.button__geolocation {
  display: inline-block;
  border: 1px solid var(--black);
  background-color: var(--black);
  cursor: pointer;
  vertical-align: bottom;
  height: 34px;
  transition: var(--transition);
}

.button__geolocation:hover {
  background-color: white;
  color: var(--black);
}

.button__geolocation img {
  display: inline-block;
  filter: invert(100%);
  height: 100%;
  padding: 4px;
}

.button__geolocation:hover img {
  filter: none;
 }

#message {
    position: absolute;
}

.weather-widget {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 380px;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 180px;
    box-shadow: 3px 8px 18px -1px rgba(0,0,0,0.26)
}

.weather-widget.loading .lds-roller {
    opacity: 1;
}

.weather-widget__location {
    font-weight: bold;
}

.weather-widget.show-weather .weather-widget__content {
    opacity: 1;
}

.weather-widget p {
    margin-top: 0;
}

.weather-widget__content {
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.weather-widget__forecast {
    display: flex;
    align-items: center;
}

.weather-widget__forecast p {
    margin-right: 10px;
}

.weather-widget__icon {
    margin-right: 10px;
}

.weather-widget__icon img {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
}

.weather-widget__forecast > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.weather-widget__forecast > div:nth-child(2) > div:first-child {
    display: flex;
    font-weight: bold;
    font-size: 18px;
}

.weather-widget__forecast > div:nth-child(2) > div:nth-child(2) {
    display: flex;
}



/* loader */
.lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #cef;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
